<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
			http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
    id="WebApp_ID"
    version="3.0">

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Persons -->
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>webapp.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/signIn</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogIn</servlet-name>
    <servlet-class>webapp.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/logIn</url-pattern>
  </servlet-mapping>
  

  <!-- SERVICES -->
  <servlet>
    <servlet-name>Add Service</servlet-name>
    <servlet-class>webapp.AddServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add Service</servlet-name>
    <url-pattern>/addService</url-pattern>
  </servlet-mapping>

  <!-- Connection DB -->
  <env-entry>
  <env-entry-name>host</env-entry-name>
  <env-entry-type>java.lang.String</env-entry-type>
  <env-entry-value>mysql.info.unicaen.fr</env-entry-value>
  <!-- <env-entry-value>localhost</env-entry-value> -->
</env-entry>

<env-entry>
  <env-entry-name>database</env-entry-name>
  <env-entry-type>java.lang.String</env-entry-type>
  <env-entry-value>20704112_7</env-entry-value>
  <!-- <env-entry-value>21007640_8</env-entry-value> -->
  <!-- <env-entry-value>koodmain</env-entry-value> -->
</env-entry>

<env-entry>
  <env-entry-name>username</env-entry-name>
  <env-entry-type>java.lang.String</env-entry-type>
  <env-entry-value>20704112</env-entry-value>
  <!-- <env-entry-value>21007640</env-entry-value> -->
  <!-- <env-entry-value>root</env-entry-value> -->
</env-entry>

<env-entry>
  <env-entry-name>password</env-entry-name>
  <env-entry-type>java.lang.String</env-entry-type>
  <env-entry-value>bohquahjiexoipho</env-entry-value>
  <!-- <env-entry-value>Chateau47</env-entry-value> -->
  <!--<env-entry-value></env-entry-value>-->
</env-entry>

</web-app> 
