<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
			http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
    id="WebApp_ID"
    version="3.0">

  <servlet>
    <servlet-name>EchangeServices</servlet-name>
    <servlet-class>webapp.EchangeServicesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EchangeServices</servlet-name>
    <url-pattern>/echangeServices</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <jsp-file>/pages/signIn.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/signIn</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LogIn</servlet-name>
    <jsp-file>/pages/logIn.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogIn</servlet-name>
    <url-pattern>/logIn</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Authentication</servlet-name>
    <servlet-class>webapp.AuthenticationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentication</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>

</web-app> 
